#planeAtlanta{
    display: none;
    justify-content: center;
	.st0{clip-path:url(#SVGID_3_);}
	.st1{clip-path:url(#SVGID_7_);}
	.st2{clip-path:url(#SVGID_12_);}
	.st3{clip-path:url(#SVGID_13_);}
	.st4{clip-path:url(#SVGID_14_);fill:#F3F3F3;}
	.st5{clip-path:url(#SVGID_17_);}
	.st6{clip-path:url(#SVGID_18_);fill:#FFFFFF;}
	.st7{fill:#424242;}
	.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st9{fill:#F3F3F3;}
	.st10{fill:#E5E5E5;}
	.st11{opacity:0.36;}
	.st12{fill:#333333;}
	.st13{fill:#BDBDBD;}
	.st14{fill:none;stroke:#888888;stroke-width:0.4573;stroke-linecap:round;stroke-miterlimit:10;}
	.st15{fill:#FFFFFF;stroke:#BDBDBD;stroke-width:0.4573;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st16{fill:none;stroke:#BDBDBD;stroke-width:0.4573;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st17{fill:none;stroke:#BDBDBD;stroke-width:0.4573;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st18{fill:#FFCC00;}
	.st19{fill:#E2A62A;}
	.st20{fill:#E26154;}
	.st21{fill:none;stroke:#C14437;stroke-width:0.4573;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st22{fill:none;stroke:#E2A62A;stroke-width:0.4573;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	.st23{fill:#C14437;}
	.st24{fill:#FFFFFF;}
	.st25{clip-path:url(#SVGID_29_);}
	.st26{clip-path:url(#SVGID_30_);fill:#FFFFFF;}
	.st27{clip-path:url(#SVGID_33_);}
	.st28{clip-path:url(#SVGID_34_);fill:#FFFFFF;}
	.st29{clip-path:url(#SVGID_36_);fill:#FFFFFF;}
	.st30{clip-path:url(#SVGID_47_);}
	.st31{clip-path:url(#SVGID_48_);fill:#FFFFFF;}
	.st32{clip-path:url(#SVGID_51_);}
	.st33{clip-path:url(#SVGID_52_);fill:#FFFFFF;}
	.st34{clip-path:url(#SVGID_55_);}
	.st35{clip-path:url(#SVGID_56_);fill:#FFFFFF;}
	.st36{clip-path:url(#SVGID_59_);}
	.st37{clip-path:url(#SVGID_60_);fill:#FFFFFF;}
	.st38{clip-path:url(#SVGID_63_);}
	.st39{clip-path:url(#SVGID_64_);fill:#FFFFFF;}
	.st40{clip-path:url(#SVGID_67_);}
	.st41{clip-path:url(#SVGID_68_);fill:#FFFFFF;}
	.st42{clip-path:url(#SVGID_71_);}
	.st43{clip-path:url(#SVGID_72_);fill:#FFFFFF;}
	.st44{clip-path:url(#SVGID_75_);}
	.st45{clip-path:url(#SVGID_76_);fill:#FFFFFF;}
	.st46{clip-path:url(#SVGID_79_);}
	.st47{clip-path:url(#SVGID_80_);fill:#FFFFFF;}
	.st48{clip-path:url(#SVGID_83_);}
	.st49{clip-path:url(#SVGID_84_);fill:#FFFFFF;}
	.st50{clip-path:url(#SVGID_87_);}
	.st51{clip-path:url(#SVGID_88_);fill:#FFFFFF;}
	.st52{clip-path:url(#SVGID_91_);}
	.st53{clip-path:url(#SVGID_92_);fill:#FFFFFF;}
	.st54{clip-path:url(#SVGID_95_);}
	.st55{clip-path:url(#SVGID_96_);fill:#FFFFFF;}
	.st56{clip-path:url(#SVGID_98_);fill:#FFFFFF;}
	.st57{clip-path:url(#SVGID_103_);}
	.st58{clip-path:url(#SVGID_104_);fill:#FFFFFF;}
	.st59{clip-path:url(#SVGID_107_);}
	.st60{clip-path:url(#SVGID_108_);fill:#FFFFFF;}
	.st61{clip-path:url(#SVGID_111_);}
	.st62{clip-path:url(#SVGID_112_);fill:#FFFFFF;}
	.st63{clip-path:url(#SVGID_115_);}
	.st64{clip-path:url(#SVGID_116_);fill:#FFFFFF;}
	.st65{clip-path:url(#SVGID_119_);}
	.st66{clip-path:url(#SVGID_120_);fill:#FFFFFF;}
	.st67{clip-path:url(#SVGID_123_);}
	.st68{clip-path:url(#SVGID_124_);fill:#FFFFFF;}
	.st69{clip-path:url(#SVGID_127_);}
	.st70{clip-path:url(#SVGID_128_);fill:#FFFFFF;}
	.st71{clip-path:url(#SVGID_131_);}
	.st72{clip-path:url(#SVGID_132_);fill:#FFFFFF;}
	.st73{clip-path:url(#SVGID_135_);}
	.st74{clip-path:url(#SVGID_136_);fill:#FFFFFF;}
	.st75{clip-path:url(#SVGID_139_);}
	.st76{clip-path:url(#SVGID_140_);fill:#FFFFFF;}
	.st77{clip-path:url(#SVGID_143_);}
	.st78{clip-path:url(#SVGID_144_);fill:#FFFFFF;}
	.st79{clip-path:url(#SVGID_147_);}
	.st80{clip-path:url(#SVGID_148_);fill:#FFFFFF;}
	.st81{clip-path:url(#SVGID_151_);}
	.st82{clip-path:url(#SVGID_152_);fill:#FFFFFF;}
	.st83{clip-path:url(#SVGID_154_);fill:#FFFFFF;}
	.st84{clip-path:url(#SVGID_159_);}
	.st85{clip-path:url(#SVGID_160_);fill:#FFFFFF;}
	.st86{clip-path:url(#SVGID_163_);}
	.st87{clip-path:url(#SVGID_164_);fill:#FFFFFF;}
	.st88{clip-path:url(#SVGID_167_);}
	.st89{clip-path:url(#SVGID_168_);fill:#FFFFFF;}
	.st90{clip-path:url(#SVGID_171_);}
	.st91{clip-path:url(#SVGID_172_);fill:#FFFFFF;}
	.st92{clip-path:url(#SVGID_175_);}
	.st93{clip-path:url(#SVGID_176_);fill:#FFFFFF;}
	.st94{clip-path:url(#SVGID_179_);}
	.st95{clip-path:url(#SVGID_180_);fill:#FFFFFF;}
	.st96{clip-path:url(#SVGID_183_);}
	.st97{clip-path:url(#SVGID_184_);fill:#FFFFFF;}
	.st98{clip-path:url(#SVGID_187_);}
	.st99{clip-path:url(#SVGID_188_);fill:#FFFFFF;}
	.st100{clip-path:url(#SVGID_191_);}
	.st101{clip-path:url(#SVGID_192_);fill:#FFFFFF;}
	.st102{clip-path:url(#SVGID_195_);}
	.st103{clip-path:url(#SVGID_196_);fill:#FFFFFF;}
	.st104{clip-path:url(#SVGID_199_);}
	.st105{clip-path:url(#SVGID_200_);fill:#FFFFFF;}
	.st106{clip-path:url(#SVGID_203_);}
	.st107{clip-path:url(#SVGID_204_);fill:#FFFFFF;}
	.st108{clip-path:url(#SVGID_207_);}
	.st109{clip-path:url(#SVGID_208_);fill:#FFFFFF;}
	.st110{clip-path:url(#SVGID_210_);fill:#FFFFFF;}
	.st111{clip-path:url(#SVGID_215_);}
	.st112{clip-path:url(#SVGID_216_);fill:#FFFFFF;}
	.st113{clip-path:url(#SVGID_219_);}
	.st114{clip-path:url(#SVGID_220_);fill:#FFFFFF;}
	.st115{clip-path:url(#SVGID_223_);}
	.st116{clip-path:url(#SVGID_224_);fill:#FFFFFF;}
	.st117{clip-path:url(#SVGID_227_);}
	.st118{clip-path:url(#SVGID_228_);fill:#FFFFFF;}
	.st119{clip-path:url(#SVGID_231_);}
	.st120{clip-path:url(#SVGID_232_);fill:#FFFFFF;}
	.st121{clip-path:url(#SVGID_235_);}
	.st122{clip-path:url(#SVGID_236_);fill:#FFFFFF;}
	.st123{clip-path:url(#SVGID_239_);}
	.st124{clip-path:url(#SVGID_240_);fill:#FFFFFF;}
	.st125{clip-path:url(#SVGID_243_);}
	.st126{clip-path:url(#SVGID_244_);fill:#FFFFFF;}
	.st127{clip-path:url(#SVGID_247_);}
	.st128{clip-path:url(#SVGID_248_);fill:#FFFFFF;}
	.st129{clip-path:url(#SVGID_251_);}
	.st130{clip-path:url(#SVGID_252_);fill:#FFFFFF;}
	.st131{clip-path:url(#SVGID_255_);}
	.st132{clip-path:url(#SVGID_256_);fill:#FFFFFF;}
	.st133{clip-path:url(#SVGID_259_);}
	.st134{clip-path:url(#SVGID_260_);fill:#FFFFFF;}
	.st135{clip-path:url(#SVGID_263_);}
	.st136{clip-path:url(#SVGID_264_);fill:#FFFFFF;}
	.st137{clip-path:url(#SVGID_266_);fill:#FFFFFF;}
	.st138{clip-path:url(#SVGID_271_);}
	.st139{clip-path:url(#SVGID_272_);fill:#FFFFFF;}
	.st140{clip-path:url(#SVGID_275_);}
	.st141{clip-path:url(#SVGID_276_);fill:#FFFFFF;}
	.st142{clip-path:url(#SVGID_279_);}
	.st143{clip-path:url(#SVGID_280_);fill:#FFFFFF;}
	.st144{clip-path:url(#SVGID_283_);}
	.st145{clip-path:url(#SVGID_284_);fill:#FFFFFF;}
	.st146{clip-path:url(#SVGID_287_);}
	.st147{clip-path:url(#SVGID_288_);fill:#FFFFFF;}
	.st148{clip-path:url(#SVGID_291_);}
	.st149{clip-path:url(#SVGID_292_);fill:#FFFFFF;}
	.st150{clip-path:url(#SVGID_295_);}
	.st151{clip-path:url(#SVGID_296_);fill:#FFFFFF;}
	.st152{clip-path:url(#SVGID_299_);}
	.st153{clip-path:url(#SVGID_300_);fill:#FFFFFF;}
	.st154{clip-path:url(#SVGID_303_);}
	.st155{clip-path:url(#SVGID_304_);fill:#FFFFFF;}
	.st156{clip-path:url(#SVGID_307_);}
	.st157{clip-path:url(#SVGID_308_);fill:#FFFFFF;}
	.st158{clip-path:url(#SVGID_311_);}
	.st159{clip-path:url(#SVGID_312_);fill:#FFFFFF;}
	.st160{clip-path:url(#SVGID_315_);}
	.st161{clip-path:url(#SVGID_316_);fill:#FFFFFF;}
	.st162{clip-path:url(#SVGID_319_);}
	.st163{clip-path:url(#SVGID_320_);fill:#FFFFFF;}
	.st164{clip-path:url(#SVGID_322_);fill:#FFFFFF;}
	.st165{clip-path:url(#SVGID_327_);}
	.st166{clip-path:url(#SVGID_328_);fill:#FFFFFF;}
	.st167{clip-path:url(#SVGID_331_);}
	.st168{clip-path:url(#SVGID_332_);fill:#FFFFFF;}
	.st169{clip-path:url(#SVGID_335_);}
	.st170{clip-path:url(#SVGID_336_);fill:#FFFFFF;}
	.st171{clip-path:url(#SVGID_339_);}
	.st172{clip-path:url(#SVGID_340_);fill:#FFFFFF;}
	.st173{clip-path:url(#SVGID_343_);}
	.st174{clip-path:url(#SVGID_344_);fill:#FFFFFF;}
	.st175{clip-path:url(#SVGID_347_);}
	.st176{clip-path:url(#SVGID_348_);fill:#FFFFFF;}
	.st177{clip-path:url(#SVGID_351_);}
	.st178{clip-path:url(#SVGID_352_);fill:#FFFFFF;}
	.st179{clip-path:url(#SVGID_355_);}
	.st180{clip-path:url(#SVGID_356_);fill:#FFFFFF;}
	.st181{clip-path:url(#SVGID_359_);}
	.st182{clip-path:url(#SVGID_360_);fill:#FFFFFF;}
	.st183{clip-path:url(#SVGID_363_);}
	.st184{clip-path:url(#SVGID_364_);fill:#FFFFFF;}
	.st185{clip-path:url(#SVGID_367_);}
	.st186{clip-path:url(#SVGID_368_);fill:#FFFFFF;}
	.st187{clip-path:url(#SVGID_371_);}
	.st188{clip-path:url(#SVGID_372_);fill:#FFFFFF;}
	.st189{clip-path:url(#SVGID_375_);}
	.st190{clip-path:url(#SVGID_376_);fill:#FFFFFF;}
	.st191{clip-path:url(#SVGID_378_);fill:#FFFFFF;}
	.st192{clip-path:url(#SVGID_383_);}
	.st193{clip-path:url(#SVGID_384_);fill:#FFFFFF;}
	.st194{clip-path:url(#SVGID_387_);}
	.st195{clip-path:url(#SVGID_388_);fill:#FFFFFF;}
	.st196{clip-path:url(#SVGID_391_);}
	.st197{clip-path:url(#SVGID_392_);fill:#FFFFFF;}
	.st198{clip-path:url(#SVGID_395_);}
	.st199{clip-path:url(#SVGID_396_);fill:#FFFFFF;}
	.st200{clip-path:url(#SVGID_399_);}
	.st201{clip-path:url(#SVGID_400_);fill:#FFFFFF;}
	.st202{clip-path:url(#SVGID_403_);}
	.st203{clip-path:url(#SVGID_404_);fill:#FFFFFF;}
	.st204{clip-path:url(#SVGID_407_);}
	.st205{clip-path:url(#SVGID_408_);fill:#FFFFFF;}
	.st206{clip-path:url(#SVGID_411_);}
	.st207{clip-path:url(#SVGID_412_);fill:#FFFFFF;}
	.st208{clip-path:url(#SVGID_415_);}
	.st209{clip-path:url(#SVGID_416_);fill:#FFFFFF;}
	.st210{clip-path:url(#SVGID_419_);}
	.st211{clip-path:url(#SVGID_420_);fill:#FFFFFF;}
	.st212{clip-path:url(#SVGID_423_);}
	.st213{clip-path:url(#SVGID_424_);fill:#FFFFFF;}
	.st214{clip-path:url(#SVGID_427_);}
	.st215{clip-path:url(#SVGID_428_);fill:#FFFFFF;}
	.st216{clip-path:url(#SVGID_431_);}
	.st217{clip-path:url(#SVGID_432_);fill:#FFFFFF;}
	.st218{clip-path:url(#SVGID_434_);fill:#FFFFFF;}
	.st219{clip-path:url(#SVGID_443_);}
	.st220{clip-path:url(#SVGID_444_);fill:#FFFFFF;}
	.st221{clip-path:url(#SVGID_447_);}
	.st222{clip-path:url(#SVGID_448_);fill:#FFFFFF;}
	.st223{clip-path:url(#SVGID_450_);fill:#FFFFFF;}
	.st224{fill-rule:evenodd;clip-rule:evenodd;fill:#2DB4D0;}
	.st225{clip-path:url(#SVGID_455_);}
	.st226{clip-path:url(#SVGID_456_);fill:#FFFFFF;}
	.st227{clip-path:url(#SVGID_459_);}
	.st228{clip-path:url(#SVGID_460_);fill:#FFFFFF;}
	.st229{clip-path:url(#SVGID_462_);fill:#FFFFFF;}
	.st230{clip-path:url(#SVGID_465_);}
	.st231{clip-path:url(#SVGID_466_);fill:#FFFFFF;}
	.st232{clip-path:url(#SVGID_469_);}
	.st233{clip-path:url(#SVGID_470_);fill:#FFFFFF;}
	.st234{clip-path:url(#SVGID_472_);fill:#FFFFFF;}
	.st235{clip-path:url(#SVGID_481_);}
	.st236{clip-path:url(#SVGID_482_);fill:#FFFFFF;}
	.st237{clip-path:url(#SVGID_485_);}
	.st238{clip-path:url(#SVGID_486_);fill:#FFFFFF;}
	.st239{clip-path:url(#SVGID_489_);}
	.st240{clip-path:url(#SVGID_490_);fill:#FFFFFF;}
	.st241{clip-path:url(#SVGID_493_);}
	.st242{clip-path:url(#SVGID_494_);fill:#FFFFFF;}
	.st243{clip-path:url(#SVGID_497_);}
	.st244{clip-path:url(#SVGID_498_);fill:#FFFFFF;}
	.st245{clip-path:url(#SVGID_501_);}
	.st246{clip-path:url(#SVGID_502_);fill:#FFFFFF;}
	.st247{clip-path:url(#SVGID_505_);}
	.st248{clip-path:url(#SVGID_506_);fill:#FFFFFF;}
	.st249{clip-path:url(#SVGID_509_);}
	.st250{clip-path:url(#SVGID_510_);fill:#FFFFFF;}
	.st251{clip-path:url(#SVGID_513_);}
	.st252{clip-path:url(#SVGID_514_);fill:#FFFFFF;}
	.st253{clip-path:url(#SVGID_517_);}
	.st254{clip-path:url(#SVGID_518_);fill:#FFFFFF;}
	.st255{clip-path:url(#SVGID_521_);}
	.st256{clip-path:url(#SVGID_522_);fill:#FFFFFF;}
	.st257{clip-path:url(#SVGID_525_);}
	.st258{clip-path:url(#SVGID_526_);fill:#FFFFFF;}
	.st259{clip-path:url(#SVGID_529_);}
	.st260{clip-path:url(#SVGID_530_);fill:#FFFFFF;}
	.st261{clip-path:url(#SVGID_532_);fill:#FFFFFF;}
	.st262{clip-path:url(#SVGID_537_);}
	.st263{clip-path:url(#SVGID_538_);fill:#FFFFFF;}
	.st264{clip-path:url(#SVGID_541_);}
	.st265{clip-path:url(#SVGID_542_);fill:#FFFFFF;}
	.st266{clip-path:url(#SVGID_545_);}
	.st267{clip-path:url(#SVGID_546_);fill:#FFFFFF;}
	.st268{clip-path:url(#SVGID_549_);}
	.st269{clip-path:url(#SVGID_550_);fill:#FFFFFF;}
	.st270{clip-path:url(#SVGID_553_);}
	.st271{clip-path:url(#SVGID_554_);fill:#FFFFFF;}
	.st272{clip-path:url(#SVGID_557_);}
	.st273{clip-path:url(#SVGID_558_);fill:#FFFFFF;}
	.st274{clip-path:url(#SVGID_561_);}
	.st275{clip-path:url(#SVGID_562_);fill:#FFFFFF;}
	.st276{clip-path:url(#SVGID_565_);}
	.st277{clip-path:url(#SVGID_566_);fill:#FFFFFF;}
	.st278{clip-path:url(#SVGID_569_);}
	.st279{clip-path:url(#SVGID_570_);fill:#FFFFFF;}
	.st280{clip-path:url(#SVGID_573_);}
	.st281{clip-path:url(#SVGID_574_);fill:#FFFFFF;}
	.st282{clip-path:url(#SVGID_577_);}
	.st283{clip-path:url(#SVGID_578_);fill:#FFFFFF;}
	.st284{clip-path:url(#SVGID_581_);}
	.st285{clip-path:url(#SVGID_582_);fill:#FFFFFF;}
	.st286{clip-path:url(#SVGID_585_);}
	.st287{clip-path:url(#SVGID_586_);fill:#FFFFFF;}
	.st288{clip-path:url(#SVGID_588_);fill:#FFFFFF;}
	.st289{clip-path:url(#SVGID_591_);}
	.st290{clip-path:url(#SVGID_592_);fill:#FFFFFF;}
	.st291{clip-path:url(#SVGID_595_);}
	.st292{clip-path:url(#SVGID_596_);fill:#FFFFFF;}
	.st293{clip-path:url(#SVGID_598_);fill:#FFFFFF;}
	.st294{clip-path:url(#SVGID_600_);fill:#BDBDBD;}
	.st295{clip-path:url(#SVGID_602_);fill:#BDBDBD;}
	.st296{clip-path:url(#SVGID_604_);fill:#BDBDBD;}
	.st297{clip-path:url(#SVGID_606_);fill:#BDBDBD;}
	.st298{clip-path:url(#SVGID_608_);fill:#BDBDBD;}
	.st299{clip-path:url(#SVGID_610_);fill:#BDBDBD;}
	.st300{clip-path:url(#SVGID_612_);fill:#BDBDBD;}
	.st301{clip-path:url(#SVGID_614_);fill:#BDBDBD;}
	.st302{clip-path:url(#SVGID_616_);fill:#BDBDBD;}
	.st303{clip-path:url(#SVGID_618_);fill:#BDBDBD;}
	.st304{clip-path:url(#SVGID_620_);fill:#BDBDBD;}
	.st305{clip-path:url(#SVGID_622_);fill:#BDBDBD;}
	.st306{clip-path:url(#SVGID_624_);fill:#BDBDBD;}
	.st307{clip-path:url(#SVGID_626_);fill:#BDBDBD;}
	.st308{clip-path:url(#SVGID_628_);fill:#BDBDBD;}
	.st309{clip-path:url(#SVGID_630_);fill:#BDBDBD;};
	

	#colors g:hover{.st18{fill:green; stroke:green} };
	#colors g:hover	{.st19{fill:green;stroke:green}};
	#colors g:hover{.st20{fill:green; stroke:green};}

	#colors .busyAtlanta:hover{.st18{fill:red; stroke:red} };
	#colors .busyAtlanta:hover{.st19{fill:red; stroke:red}};
	#colors .busyAtlanta:hover{.st20{fill:red; stroke:red}};

					
	#seats g:hover{.st13{fill:green; stroke:green}};
	#seats g:hover{.st15{fill:green; stroke:green}};
	#seats g:hover{.st17{fill:green;stroke:green}};
	#seats g:hover{.st20{fill:green; stroke:green}};
	
	#seats  .busyAtlanta:hover{.st13{fill:red; stroke:red}};
	#seats  .busyAtlanta:hover{.st15{fill:red; stroke:red}};
	#seats  .busyAtlanta:hover{.st17{fill:red; stroke:red}};
	#seats  .busyAtlanta:hover{.st20{fill:red; stroke:red}};
}	

#summary{
	display: none;
	position: relative;
	width: 600px;
	height: 900px;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 10%;
	text-align: center;
	color: white;
	font-size: 20px;
	line-height: 2em;
}

#summary::before {

	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background-color: #fff;
	border-radius: 20px;
	z-index: -1;
	transform: skew(1.5deg, 1.5deg);
	background: linear-gradient(315deg, var(--gd1-color1), var(--gd1-color2));
  }
  
#summary:nth-child(2)::before {

	background: linear-gradient(315deg, var(--gd2-color1), var(--gd2-color2));
  }
  
#summary:nth-child(3)::before {

	background: linear-gradient(315deg, var(--gd3-color1), var(--gd3-color2));
  }
#AtlantaBox1{
	display: flex;
	margin-top: 5%;
#greenAtlatna{
	margin-right: 5%;
	height:20px ;
	width:20px ;
	background-color: green;
}}
#AtlantaBox2{
	display: flex;
	margin-top: 5%;
#redAtlatna{
	margin-right: 5%;
	height:20px ;
	width:20px ;
	background-color: red;

}
}
