#planeLondyn{
	display: none;
    justify-content: center;
	#planeLon{
	transform: scale(0.80);
		.greenLondyn:hover{fill:green};
		.redLondyn:hover{fill:red};}
}
#LondynBox1{
	display: flex;
	margin-top: 5%;
#greenLondyn{
	margin-right: 5%;
	height:20px ;
	width:20px ;
	background-color: green;
}}
#LondynBox2{
	display: flex;
	margin-top: 5%;
#redLondyn{
	margin-right: 5%;
	height:20px ;
	width:20px ;
	background-color: red;

}
}


#summaryLondyn{
	    display: none;
		position: relative;
		width: 600px;
		height: 900px;
		padding-top: 3%;
		padding-bottom: 3%;
		margin-bottom: 10%;
		text-align: center;
		color: white;
		font-size: 20px;
		line-height: 2em;
	}
	
#summaryLondyn::before {
	
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		background-color: #fff;
		border-radius: 20px;
		z-index: -1;
		transform: skew(1.5deg, 1.5deg);
		background: linear-gradient(315deg, var(--gd1-color1), var(--gd1-color2));
	  }
	  
#summaryLondyn:nth-child(2)::before {
	
		background: linear-gradient(315deg, var(--gd2-color1), var(--gd2-color2));
	  }
	  
#summaryLondyn:nth-child(3)::before {
	
		background: linear-gradient(315deg, var(--gd3-color1), var(--gd3-color2));
	  }